certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
diskcache==5.6.3
diskcache-stubs==5.6.3.6.20240818
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
prettytable==3.17.0
pyparsing==3.2.5
pySigma==1.0.2
PyYAML==6.0.3
requests==2.32.5
sigma-cli==2.0.0
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
urllib3==2.6.1
wcwidth==0.2.14
